
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /products/{productId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /blogs/{blogId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /inquiries/{inquiryId} {
      allow create: if true;
      allow read, update, delete: if isSignedIn();
    }

    match /company_profile/{docId} {
      allow read: if true;
      allow write: if isSignedIn();
    }
    match /quality_compliance/{docId} {
      allow read: if true;
      allow write: if isSignedIn();
    }
  }
}
